#topheader{
	background: #029805;
	padding: 10px 0;
}
.left-topheader{

}
.right-topheader{
	text-align: right;
}
.right-topheader i {
	color: #014f03 !important;
}
#header{
	background: #036c05;
	padding: 10px 0;
}
.searchbox{
	text-align: right;
	padding-top: 20px;
}
.searchbox input{
	border-radius: 30px;
	background: #fff;
	height: 40px;
	width: 80%;
	padding: 20px 40px;
	border:none;
}
.searchbox input:focus{
	text-decoration: none;
	border: none;
}
.searchbox button{
	font-size: 20px;
	height: 100%;
	padding: 0 35px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 5px;
	width: auto;
	color: #222;
	border: none;
	background-color: transparent;

}
.logininfo{
	padding-top: 20px;
	text-align: right;
}
.logininfo .svg-inline--fa {
	font-size: 40px;
	color: #fff;
	float: left;
	margin-right: 10px;
}
#menu{
	
	background: #015503;
}
#bannerarea{
	margin:15px 0;
}
.cat-thumbnail{
	border: 2px solid #ccc;
	margin-right: 10px;
}
.cat-thumbnail img{
	float: left;
}
.cat-thumbnail h3{
	float: right;
}
.slider_banner{
	overflow: hidden;
}
.slider_banner .slide-banner-info .banner-col {
    transform: skew(-40deg);
    -webkit-transform: skew(-40deg);
    -moz-transform: skew(-40deg);
    -ms-transform: skew(-40deg);
    -o-transform: skew(-40deg);
    overflow: hidden;
    
}
.banner-col {
    position: relative;
}
.slider_banner .slide-banner-info .banner-col a {
    transform: skew(40deg);
    -webkit-transform: skew(40deg);
    -moz-transform: skew(40deg);
    -ms-transform: skew(40deg);
    -o-transform: skew(40deg);
    overflow: visible;
    
}
.banner-col a {
    display: block;
    position: relative;
    overflow: hidden;
}

.slider_banner .slide-banner-info:first-child .banner-col a img {
    margin-left: 95px;
}
.slider_banner .slide-banner-info:nth-child(2) .banner-col a img {
    margin-left: -95px;
}
.banner-col a img{
	width: 100%;
}

.titlebox{
	background: #ccc;
	margin: 20px 0;
	padding: 20px;
	border-left: 10px solid #015503;
}

.logininfo-content{
	color: #fff;
	font-size: 13px;
	font-weight: normal;
}
.logininfo-content span{
	position: relative;
	display: block;
	text-align: left;
}
.cart-area{
	background: #F9C938;
	position: absolute;
	
	width: 100%;
	text-align: center;
	padding: 15px 0;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	z-index: 9999999;
}
.cart-area .svg-inline--fa{
	font-size: 34px;
}
.cart-area a{
	color: #000;
	text-decoration: none;
}
.cart-area h6{
	margin: 10px 0;
	font-size: 13px;
}
.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
background: #707070;
}
.indecator .svg-inline--fa{
	color: #029805;
	font-size: 22px;
	padding: 0;
	margin: 0;
}
.top-catagory-btn{
	background: #F9C938;
	padding: 20px 0;
	text-align: center;
}
.top-catagory-btn a{
	text-decoration: none;
}
.top-catagory-btn .card-body{
	border: 1px solid #ccc;
	top:20px;
}
.catagory-listing{
	width: 100%;
}
.catagory-listing ul{
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
}
.catagory-lising ul li {
	border-bottom: 1px solid #ccc;
	line-height: 30px;
}
#newsletter{
	background: #F9C938;
	padding: 20px 0;
}